<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="application.scss">

  <body>

    <div id="container">
      <div id="header">
        <h1>Edit Profile</h1>
        <%= form_for @student do |f| %>
        <p>
          <%= f.label "Name" %>
          <%= f.text_field :name %>
          <br>
          <%= f.label "Biography" %>
          <br>
          <%= f.text_area :bio %>
          <br>
          <%= f.label "Email" %>
          <%= f.text_field :email %>
          <br>
          <%= f.label "Password" %>
          <%= f.password_field :password %>
          <br>
          <%= f.label "Password Confirmation" %>
          <%= f.password_field :password_confirmation %>

          <%= f.label "Programming languages" %>
          <%= f.text_field :langauge %>
          <br>
          <%= f.submit "Submit" %>
        </p>
      <% end %>
      <%= button_to "DESTROY #{@student.name}", student_path(@student), method: :delete, class: 'btn, btn-danger' %>

    </div>

  </div>
  <div id="footer">
    Copyright &copy; 2018 Charlie Tung & Eric Razor
  </div>
</body>
</html>
