<center>
  <h1><%= @student.name.downcase.capitalize %>
    Profile</h1>
</center>


<center>
  <% if @student.profile_picture.attached? %>
  <!-- @post.image.present? will always return true, use attached? to check presence -->
  <p>
    <strong>Image:</strong>
    <br>
    <%= image_tag @student.profile_picture %>
  </p>
  <% end %>

  <p>
    <%= @student.name %>
  </p>

  <p>
    <label for="">Biography:</label>
    <br>
    <%= @student.bio %>
  </p>

  <h2><%= @student.name %>'s Projects'</h2>
  <% @student.projects.each do |project| %>
    <li>
      <%= project.name %>
      <%= project.url_link %>

    </li>
      <h4><%= link_to project.name, project_path(project) %></h4>
      <p><%= auto_link(project.url_link) %></p>
  <% end %>

  <% if current_student == @student %>
    <%= button_to "Edit Profile", edit_student_path(@student), method: :get, class: 'btn, btn-info'%>
  <% end %>

</center>
