<center>
  <h1>Your Profile</h1>
</center>

<center>
  <p>
    <%= @student.name %>
  </p>

  <p>
    <%= @student.bio %>
  </p>

  <% @student.projects.each do |project| %>
    <li>
      <%= project.name %>
      <%= project.url_link %>
    </li>
  <% end %>

    <% if current_student == @student %>
      <%= link_to "Edit Profile", edit_student_path(@student) %>
    <% end %>
</center>
