<center>
  <h1>Profile</h1>
</center>


<center>
  <% if @student.profile_picture.attached? %>
  <!-- @post.image.present? will always return true, use attached? to check presence -->
  <p>
    <br>
    <%= image_tag @student.profile_picture, class: "student_image" %>
  </p>
  <% end %>

  <p>
  <div class="form-control">
    <%= @student.name %>
  </p>

  <p>
    <%= @student.bio %>
  </p>
  </div>

  <% @student.projects.each do |project| %>
    <li>
      <%= project.name %>
      <%= project.url_link %>

    </li>
  <% end %>

    <% if current_student == @student %>
      <%= link_to "Edit Profile", edit_student_path(@student) %>
    <% end %>
</center>
