<center>
<%= @pitch.title %></li>
<%= @pitch.content %></li>
<!-- <%= @pitch.student_id %></li> -->

<ul>
<% @comments.each do |comment|  %>
<li>
<%= comment.content %>
</li>
<% end %>
</ul>

<%= form_for @comment, url: pitch_comments_path(@pitch) do |f| %>
  <%= f.text_field :content, placeholder: "Write a comment..." %>
  <%= f.submit  %> <br>

  <%= link_to "Edit Pitch", edit_pitch_path%>

<% end %>
</center>



<!-- create_table "pitches", force: :cascade do |t|
#   t.string "title"
#   t.text "content"
#   t.integer "student_id"
#   t.datetime "created_at", null: false
#   t.datetime "updated_at", null: false -->
