<h1> SHOW PAGE FOR PROJECT</h1>

<<<<<<< HEAD
<%= @project.name %>
<%= @project.url_link %>
=======
  <%= @project.name %>
  <%= @project.url_link %>
  <%= (link_to "Edit Project", edit_project_path) %> 
>>>>>>> eric_branch
